.block {
  &__haederspan {
    font-weight: bold;
  }
  &__haedertext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #1a1a1a;
  }
}
.body-text {
  text-align: center;
  .color-p-body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #7e7e7e;
  }
  &__block {
  }
}
