.footerlittle {
  margin-top: 30px;
  height: 57px;
  background-color: #1c3b55;
}
.logo-little-footer {
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
